{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'posting/images/js.png' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'posting/css/base.css' %}">
    {% block js %}{% endblock %}
    {% block css %}{% endblock %}
    <title>Document</title>
</head>

<body dir="rtl">
<div class="row m-0 bg-light justify-content-between position-fixed w-100 bg-white toolbar">
    <div class='col-8 p-0'>
        <div class="d-inline-flex">
            <a class="navbar-brand text-secondary" href="{% url 'posting:showPosts' %}">صفحه اصلی</a>
            {% if not user.is_authenticated %}
                <a class="nav-link text-secondary" href="/login/">مدیریت</a>
                <a class="nav-link text-secondary" href="{% url 'posting:logIn' %}">ورود</a>
                <a href="{% url 'posting:creatingUser' %}" class="btn btn-outline-success text-nowrap m-1">ثبت نام</a>
            {% else %}
                {% if user.is_superuser %}<a class="nav-link text-secondary" href="/login/">مدیریت</a>{% endif %}
                {% if 'posting.add_post' in user.get_all_permissions %}
                    <a class="nav-link text-secondary" href="{% url 'posting:showCreatePostsPage' %}">نوشتن پست</a>
                {% endif %}
                <a class="nav-link text-secondary" href="{% url 'posting:logOut' %}">خروج</a>
                <p class="text-secondary p-2 m-0">{{ user.username }} خوش آمدید</p>
            {% endif %}
            {% if messages %}
                <ul class="messages m-1 p-0" style="list-style-type:none;">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div class="text-nowrap p-2 w-100 bg-danger text-white rounded">{{ message }}</div>
                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                <div class="text-nowrap p-2 w-100 bg-success text-white rounded">{{ message }}</div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="col-4 p-0" dir='ltr'>
        <div class="d-inline-flex">
            <div>
                <form action="{% url 'posting:search' %}" method="post">
                    {% csrf_token %}
                    <div class="d-inline-flex p-1">
                        <button class="btn btn-outline-primary" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                 height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                            </svg>
                        </button>
                        <input name="searchInput" class="form-control" type="search" aria-label="Search"
                               style='margin-left: 6px;'>
                    </div>
                </form>
            </div>
            <div class="p-1 divHover">
                <button class="btn btn-outline-primary text-nowrap" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16"
                         height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                    </svg>
                    جست و جوی پیشرفته
                </button>
                <div class="advancedSearch p-2 m-1 rounded" dir="rtl">
                    <form action="{% url 'posting:advancedSearch' %}" method="post">
                        {% csrf_token %}
                        <input name="authorBox" class="dropdown-item form-control" type="search" aria-label="Search"
                               placeholder="نویسنده..."
                               style='margin-left: 6px;'>
                        <input name="headBox" class="dropdown-item form-control" type="search" aria-label="Search"
                               placeholder="عنوان پست..."
                               style='margin-left: 6px;'>
                        <input name="bodyBox" class="dropdown-item form-control" type="search" aria-label="Search"
                               placeholder="متن پست..."
                               style='margin-left: 6px;'>
                        <input name="labelBox" class="dropdown-item form-control" type="search" aria-label="Search"
                               placeholder="برچسب ها..."
                               style='margin-left: 6px;'>
                        <button class="btn btn-outline-primary w-100" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                 height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% block body %}{% endblock %}
</body>

</html>